<div class="container-fluid" style="    margin-top: 30px;
    margin-left: 300px;">
    <input type="text" ng-model="name" style="    margin-bottom: 10px;padding-left: 20px;
    width: 300px;" placeholder="Type first name here...">
    <span class="glyphicons glyphicons-search"></span>

    <div ng-repeat="patient in vm.patients | searchFilter:name" style="background-color: aliceblue;
    padding: 20px;margin-bottom: 5px;width: 400px" class="row ">
        <div >
            <h2>{{patient.firstName}} {{patient.lastName}}</h2>
            <div><strong>DOB:   </strong> {{patient.dob}} </div>
            <div><strong>Age:   </strong> {{patient.age}} </div>
            <div><strong>Phone:   </strong> {{patient.phone}} </div>
            <div><strong>Gender:   </strong> {{patient.gender}} </div>
            <div><strong>About Myself:   </strong> {{patient.description}} </div>
        </div>

    </div>
</div>